@page
@model WorkFlex.Web.Pages.User.ProfileModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Profile";

    var user = Model.User;
}


@if (user != null)
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sherah-body">
                    <!-- Dashboard Inner -->
                    <div class="sherah-dsinner">
                        <!-- Sherah Breadcrumb -->
                        <div class="sherah-breadcrumb mg-top-30">
                            <h2 class="sherah-breadcrumb__title">Profile</h2>
                            <ul class="sherah-breadcrumb__list">
                                <li><a asp-page="/">Home</a></li>
                                <li class="active"><a href="#!">Personal Information</a></li>
                            </ul>
                        </div>
                        <!-- End Sherah Breadcrumb -->
                        <div class="sherah-personals">
                            <div class="row">
                                <div class="col-lg-3 col-md-2 col-12 sherah-personals__list mg-top-30">
                                    <div class="sherah-psidebar sherah-default-bg">
                                        <!-- Features Tab List -->
                                        <div class="list-group sherah-psidebar__list" id="list-tab" role="tablist">
                                            <a class="list-group-item active" data-bs-toggle="list" href="#id1" role="tab">
                                                <span class="sherah-psidebar__icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.137" height="18.151" viewBox="0 0 15.137 18.151">
                                                        <g id="Icon" transform="translate(-127.285 -217.094)">
                                                            <path id="Path_170" data-name="Path 170" d="M142.35,419.766a7.862,7.862,0,0,0-.848-2.97,3.353,3.353,0,0,0-2.566-1.817,1.5,1.5,0,0,0-1.176.242c-.2.152-.422.281-.637.415a4.018,4.018,0,0,1-4.074.264c-.428-.2-.8-.5-1.205-.738a1.126,1.126,0,0,0-.59-.214,3.558,3.558,0,0,0-1.664.413,3.71,3.71,0,0,0-1.65,1.987,9.533,9.533,0,0,0-.618,4.357,2.808,2.808,0,0,0,1.984,2.447c.232.072.471.12.707.18h9.607c.008-.027.03-.03.054-.032a2.906,2.906,0,0,0,2.747-2.994A11.6,11.6,0,0,0,142.35,419.766Zm-2.985,3.494c-1.506.018-3.012,0-4.518,0v0h-4.323a2.435,2.435,0,0,1-1.276-.3,1.763,1.763,0,0,1-.892-1.556,9.141,9.141,0,0,1,.523-3.565,3.452,3.452,0,0,1,.766-1.219,2.21,2.21,0,0,1,1.5-.617c.071,0,.12.044.175.077.425.253.818.557,1.269.768a5.066,5.066,0,0,0,5.088-.319c.246-.152.488-.31.73-.467a.357.357,0,0,1,.233-.053,2.3,2.3,0,0,1,1.95,1.33,6.775,6.775,0,0,1,.691,2.433,10.99,10.99,0,0,1,.074,1.45A1.888,1.888,0,0,1,139.365,423.26Z" transform="translate(0 -189.086)" />
                                                            <path id="Path_171" data-name="Path 171" d="M201.205,217.094a4.372,4.372,0,1,0,4.358,4.377A4.363,4.363,0,0,0,201.205,217.094Zm0,7.68a3.308,3.308,0,1,1,3.3-3.314A3.3,3.3,0,0,1,201.2,224.775Z" transform="translate(-66.452 0)" />
                                                        </g>
                                                    </svg>
                                                </span>
                                                <span class="sherah-psidebar__title">Personal Info</span>
                                            </a>
                                            <a class="list-group-item" data-bs-toggle="list" href="#id5" role="tab">
                                                <span class="sherah-psidebar__icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13.498" height="17.259" viewBox="0 0 13.498 17.259">
                                                        <g id="Icon" transform="translate(660.4 -193.609)">
                                                            <path id="Path_184" data-name="Path 184" d="M-660.4,203.045a1.613,1.613,0,0,1,.523-.923,1.916,1.916,0,0,1,.388-.246.186.186,0,0,0,.127-.2c0-.8-.008-1.607,0-2.411a5.44,5.44,0,0,1,2.5-4.683,5.586,5.586,0,0,1,3.571-.959,5.609,5.609,0,0,1,3.648,1.591,5.179,5.179,0,0,1,1.621,3.125,16.885,16.885,0,0,1,.075,1.849.488.488,0,0,1-.5.495q-1.044.01-2.088,0a.5.5,0,0,1-.508-.511c-.006-.337,0-.674,0-1.011a2.567,2.567,0,0,0-2.756-2.516,2.562,2.562,0,0,0-2.443,2.363c-.035.9-.007,1.8-.007,2.724h7.7a1.513,1.513,0,0,1,1.477.863,1.669,1.669,0,0,1,.161.7c.012,2.006.01,4.012.005,6.018a1.515,1.515,0,0,1-1.333,1.538.193.193,0,0,0-.046.022h-10.734a.3.3,0,0,0-.063-.024,1.538,1.538,0,0,1-.973-.549,1.792,1.792,0,0,1-.345-.776Zm6.733,6.812h5.108c.426,0,.619-.19.619-.609q0-2.95,0-5.9c0-.416-.194-.6-.624-.6h-10.182c-.426,0-.619.19-.619.609q0,2.942,0,5.884c0,.439.188.621.641.621Zm4.687-10.191a5.512,5.512,0,0,0-.138-1.6,4.667,4.667,0,0,0-5.709-3.293,4.527,4.527,0,0,0-3.472,4.046c-.063.951-.022,1.909-.026,2.865,0,.014.013.029.018.04h1.014v-.19q0-1.146,0-2.293a3.686,3.686,0,0,1,.265-1.381,3.7,3.7,0,0,1,4.171-2.146,3.562,3.562,0,0,1,2.847,3.532c0,.139,0,.278,0,.423Z" transform="translate(0 0)" />
                                                            <path id="Path_185" data-name="Path 185" d="M-538.592,438.065c0-.243,0-.487,0-.73a.158.158,0,0,0-.109-.174,1.479,1.479,0,0,1-.883-1.448,1.5,1.5,0,0,1,1.146-1.363,1.508,1.508,0,0,1,1.734.918,1.481,1.481,0,0,1-.735,1.868.236.236,0,0,0-.163.257c.009.448,0,.9,0,1.345,0,.354-.193.582-.494.585s-.5-.228-.5-.593C-538.592,438.508-538.592,438.286-538.592,438.065Zm.5-2.76a.5.5,0,0,0-.5.5.5.5,0,0,0,.5.5.5.5,0,0,0,.5-.5A.5.5,0,0,0-538.094,435.3Z" transform="translate(-115.541 -230.447)" />
                                                        </g>
                                                    </svg>
                                                </span>
                                                <span class="sherah-psidebar__title">Change Password</span>
                                            </a>
                                            <a class="list-group-item" data-bs-toggle="list" href="#id6" role="tab">
                                                <span class="sherah-psidebar__icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18.329" height="17.617" viewBox="0 0 18.329 17.617">
                                                        <g id="Icon" transform="translate(427.5 -241.625)">
                                                            <path id="Path_176" data-name="Path 176" d="M-427.5,259.24v-6.009h1.476c-.014-.061-.023-.111-.036-.16a9.441,9.441,0,0,1-.255-4.047,8.6,8.6,0,0,1,4.172-6.386,7.476,7.476,0,0,1,5.655-.785c4.286.973,7.049,5.8,6.052,10.533-.059.28-.128.558-.2.864h1.465v5.991H-427.5Zm11.277-9.617c0,.005,0,.013.006.015a.388.388,0,0,0,.048.027,4.613,4.613,0,0,1,2.682,3.445c.025.115.075.143.174.142.448,0,.9-.007,1.343,0,.127,0,.188-.041.232-.178a8.248,8.248,0,0,0,.363-3.579,7.6,7.6,0,0,0-3.054-5.414,6.4,6.4,0,0,0-4.128-1.236,6.281,6.281,0,0,0-4.706,2.165,8.013,8.013,0,0,0-1.661,8.052c.042.144.105.193.242.19.442-.01.883-.008,1.325,0,.117,0,.164-.039.192-.168a4.706,4.706,0,0,1,2.17-3.153c.195-.12.4-.213.608-.321a3.556,3.556,0,0,1,.072-4.717,2.737,2.737,0,0,1,3.963-.062A3.554,3.554,0,0,1-416.223,249.623Zm-10.19,8.4h16.165v-3.564h-16.165Zm4.312-4.793h7.524a.562.562,0,0,0-.006-.073,3.314,3.314,0,0,0-2.579-2.547,13.3,13.3,0,0,0-1.733-.052,2.987,2.987,0,0,0-.78.088A3.429,3.429,0,0,0-422.1,253.234Zm1.936-5.942a1.977,1.977,0,0,0,1.872,2.065,1.993,1.993,0,0,0,1.859-2.085,1.989,1.989,0,0,0-1.877-2.065A1.981,1.981,0,0,0-420.166,247.293Z"></path>
                                                            <path id="Path_177" data-name="Path 177" d="M-358.31,507.432h-1.17v-1.171h1.17Z" transform="translate(-64.793 -250.596)"></path>
                                                            <path id="Path_178" data-name="Path 178" d="M-301.73,507.4h-1.17v-1.174h1.17Z" transform="translate(-118.689 -250.565)"></path>
                                                            <path id="Path_179" data-name="Path 179" d="M-246.575,506.138h1.172v1.177h-1.172Z" transform="translate(-172.342 -250.479)"></path>
                                                            <path id="Path_180" data-name="Path 180" d="M-190.257,507.456v-1.162h1.177v1.162Z" transform="translate(-225.989 -250.627)"></path>
                                                            <path id="Path_181" data-name="Path 181" d="M-132.4,506.308v1.166h-1.177v-1.166Z" transform="translate(-279.982 -250.64)"></path>
                                                        </g>
                                                    </svg>
                                                </span>
                                                <span class="sherah-psidebar__title">Setting</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-10 col-12  sherah-personals__content mg-top-30">
                                    <div class="sherah-ptabs">
                                        <div class="sherah-ptabs__inner">
                                            <div class="tab-content" id="nav-tabContent">
                                                <!--  Features Single Tab -->
                                                <div class="tab-pane fade show active" id="id1" role="tabpanel">
                                                    <form action="#">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="sherah-ptabs__separate">
                                                                    <div class="sherah-ptabs__form-main">
                                                                        <div class="sherah__item-group sherah-default-bg sherah-border">
                                                                            <!--Profile Cover Info -->
                                                                            <div class="sherah-profile-cover sherah-offset-bg sherah-dflex">
                                                                                <div class="sherah-profile-cover__img">
                                                                                    <img src="img/profile-thumb.png" alt="#">
                                                                                </div>
                                                                                <div class="sherah-profile-cover__content">
                                                                                    <h3 class="sherah-profile-cover__title">@user.FirstName @user.LastName</h3>
                                                                                    <span class="sherah-profile-cover__text sherah-color1">@user.Profile.Headline</span>
                                                                                    <ul class="sherah-social mg-top-30">
                                                                                        <li><a href="#" class="sherah-pcolor sherah-border sherah-default-bg"><i class="fab fa-facebook-f"></i></a></li>
                                                                                        <li><a href="#" class="sherah-pcolor sherah-border sherah-default-bg"><i class="fab fa-twitter"></i></a></li>
                                                                                        <li><a href="#" class="sherah-pcolor sherah-border sherah-default-bg"><i class="fab fa-linkedin"></i></a></li>
                                                                                        <li>
                                                                                            <a href="#" class="sherah-pcolor sherah-border sherah-default-bg">
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                                                                                                    <path id="Path_193" data-name="Path 193" d="M-395.137,386.139q0-.953,0-1.906c0-.237-.074-.31-.311-.31h-3.775a1.256,1.256,0,0,1-.866-.3,1.162,1.162,0,0,1-.323-1.239,1.136,1.136,0,0,1,.963-.773c.122-.011.245-.017.367-.017h3.609c.272,0,.336-.064.336-.337q0-1.875,0-3.749a1.257,1.257,0,0,1,.3-.866,1.162,1.162,0,0,1,1.239-.323,1.137,1.137,0,0,1,.773.963c.011.122.017.245.017.367q0,1.8,0,3.609c0,.272.064.336.337.336h3.749a1.257,1.257,0,0,1,.866.3,1.162,1.162,0,0,1,.323,1.239,1.137,1.137,0,0,1-.963.773c-.122.011-.245.017-.367.017q-1.8,0-3.609,0c-.272,0-.336.064-.336.337q0,1.875,0,3.749a1.256,1.256,0,0,1-.3.866,1.162,1.162,0,0,1-1.239.323,1.1,1.1,0,0,1-.769-.963c-.024-.617-.016-1.236-.022-1.854C-395.137,386.3-395.137,386.22-395.137,386.139Z" transform="translate(400.472 -376.258)" />
                                                                                                </svg>
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                            <!-- End Profile Cover Info -->

                                                                            <div class="sherah-profile-info__v2 mg-top-30">
                                                                                <h3 class="sherah-profile-info__heading mg-btm-30">Personal Information</h3>
                                                                                <ul class="sherah-profile-info__list sherah-dflex-column">
                                                                                    <li class="sherah-dflex">
                                                                                        <h4 class="sherah-profile-info__title">Full Name :</h4>
                                                                                        <p class="sherah-profile-info__text">@user.FirstName @user.LastName</p>
                                                                                    </li>
                                                                                    <li class="sherah-dflex">
                                                                                        <h4 class="sherah-profile-info__title">About :</h4>
                                                                                        <p class="sherah-profile-info__text">@user.Profile.Summary</p>
                                                                                    </li>
                                                                                    <li class="sherah-dflex">
                                                                                        <h4 class="sherah-profile-info__title">Email :</h4>
                                                                                        <p class="sherah-profile-info__text">@user.Email</p>
                                                                                    </li>
                                                                                    <li class="sherah-dflex">
                                                                                        <h4 class="sherah-profile-info__title">Phone :</h4>
                                                                                        <p class="sherah-profile-info__text">@(user.Phone ?? "")</p>
                                                                                    </li>
                                                                                    <li class="sherah-dflex">
                                                                                        <h4 class="sherah-profile-info__title">Date of Birth :</h4>
                                                                                        <p class="sherah-profile-info__text">@user.DateOfBirth.ToShortDateString()</p>
                                                                                    </li>
                                                                                    <li class="sherah-dflex">
                                                                                        <h4 class="sherah-profile-info__title">Address :</h4>
                                                                                        <p class="sherah-profile-info__text">@user.Location</p>
                                                                                    </li>
                                                                                    <li class="sherah-dflex">
                                                                                        <h4 class="sherah-profile-info__title">Country :</h4>
                                                                                        <p class="sherah-profile-info__text">Viet Nam</p>
                                                                                    </li>
                                                                                    <li class="sherah-dflex">
                                                                                        <h4 class="sherah-profile-info__title">Language :</h4>
                                                                                        <p class="sherah-profile-info__text">Vietnamese</p>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="tab-pane fade" id="id5" role="tabpanel">
                                                    <div class="sherah-paymentm sherah__item-group sherah-default-bg sherah-border ">
                                                        <h4 class="sherah__item-group sherah-default-bg sherah-border__title">Change Password</h4>
                                                        <div class="row">
                                                            <div class="col-xxl-8  col-lg-6 col-md-6 col-12">
                                                                <!-- Sign in Form -->
                                                                <form class="sherah-wc__form-main sherah-form-main--v2 p-0" action="#" method="post">
                                                                    <div class="form-group">
                                                                        <label class="sherah-wc__form-label">Old Password *</label>
                                                                        <div class="form-group__input">
                                                                            <input class="sherah-wc__form-input" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" id="password-field" type="password" name="password" placeholder="" maxlength="8" required="required">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="sherah-wc__form-label">New Password *</label>
                                                                        <div class="form-group__input">
                                                                            <input class="sherah-wc__form-input" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" id="password-field" type="password" name="password" placeholder="" maxlength="8" required="required">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="sherah-wc__form-label">Re-enter Password *</label>
                                                                        <div class="form-group__input">
                                                                            <input class="sherah-wc__form-input" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" id="password-field" type="password" name="password" placeholder="" maxlength="8" required="required">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group mg-top-30">
                                                                        <button type="submit" class="sherah-btn sherah-btn__primary">Changed Password</button>
                                                                    </div>
                                                                </form>
                                                                <!-- End Sign in Form -->
                                                            </div>
                                                            <div class="col-xxl-4 col-lg-6 col-md-6 col-12">
                                                                <div class="sherah-password__img">
                                                                    <img src="~/img/hero/p-update-img.png" alt="Change Password">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="id6" role="tabpanel">
                                                    <div class="sherah-accordion accordion accordion-flush sherah__item-group sherah-default-bg sherah-border" id="sherah-accordion">
                                                        <div class="sherah__item-group sherah-default-bg sherah-border mg-top-30">
                                                            <h4 class="sherah-default-bg sherah-border__title">Update Your Profile</h4>
                                                            <div class="sherah__item-form--group">
                                                                <form class="sherah-wc__form-main p-0">
                                                                    <div class="row">
                                                                        <div class="col-lg-6 col-12">
                                                                            <div class="sherah__item-form--group mg-top-form-20">
                                                                                <label class="sherah-wc__form-label">First Name *</label>
                                                                                <div class="sherah-input-icon">
                                                                                    <input type="text" class="sherah-wc__form-input" value="@user.FirstName" placeholder="Your First Name">
                                                                                    <div class="sherah-form-icon sherah-color1"><i class="fas fa-signature"></i></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-6 col-12">
                                                                            <div class="sherah__item-form--group mg-top-form-20">
                                                                                <label class="sherah-wc__form-label">Last Name *</label>
                                                                                <div class="sherah-input-icon">
                                                                                    <input type="text" class="sherah-wc__form-input" value="@user.LastName" placeholder="Your Last Name">
                                                                                    <div class="sherah-form-icon sherah-color1"><i class="fas fa-signature"></i></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12 col-12">
                                                                            <div class="sherah__item-form--group mg-top-form-20">
                                                                                <label class="sherah-wc__form-label">Username</label>
                                                                                <div class="sherah-input-icon">
                                                                                    <input type="text" class="sherah-wc__form-input" value="@user.Username" placeholder="Your Username">
                                                                                    <div class="sherah-form-icon sherah-color1"><i class="fas fa-user"></i></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-6 col-12">
                                                                            <div class="sherah__item-form--group mg-top-form-20">
                                                                                <label class="sherah-wc__form-label">Email *</label>
                                                                                <div class="sherah-input-icon">
                                                                                    <input type="text" class="sherah-wc__form-input" value="@user.Email" placeholder="Your Email">
                                                                                    <div class="sherah-form-icon sherah-color1"><i class="far fa-envelope"></i></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-6 col-12">
                                                                            <div class="sherah__item-form--group  mg-top-form-20">
                                                                                <label class="sherah-wc__form-label">Phone</label>
                                                                                <div class="sherah-input-icon">
                                                                                    <input type="text" class="sherah-wc__form-input" value="@user.Phone" placeholder="Your Phone">
                                                                                    <div class="sherah-form-icon sherah-color1"><i class="fas fa-phone"></i></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12 col-12">
                                                                            <div class="sherah__item-form--group  mg-top-form-20">
                                                                                <label class="sherah-wc__form-label">Address</label>
                                                                                <div class="sherah-input-icon">
                                                                                    <input type="text" class="sherah-wc__form-input" value="@user.Location" placeholder="Your Address">
                                                                                    <div class="sherah-form-icon sherah-color1"><i class="fas fa-map-marker-alt"></i></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12 col-12">
                                                                            <div class="sherah__item-form--group  mg-top-form-20">
                                                                                <label class="sherah-wc__form-label">Headline</label>
                                                                                <div class="sherah-input-icon">
                                                                                    <input type="text" class="sherah-wc__form-input" value="@user.Profile.Headline" placeholder="Your Headline">
                                                                                    <div class="sherah-form-icon sherah-color1"><i class="fas fa-info"></i></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12 col-12">
                                                                            <div class="sherah__item-form--group  mg-top-form-20">
                                                                                <label class="sherah-wc__form-label">About You</label>
                                                                                <div class="form-group__input">
                                                                                    <textarea type="text" class="tinymce" id="description" placeholder="Summary About You">
                                                                                        @user.Profile.Summary
                                                                                    </textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mg-top-30" style="margin-left: 0;">
                                                                        <div class="sherah__item-form--group">
                                                                            <button type="submit" class="sherah-btn sherah-btn__primary">Save Now</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Dashboard Inner -->
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
    <script src="~/js/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '.tinymce',
            height: 300,
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'prewiew', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'code', 'fullscreen', 'insertdatetime', 'media',
                'table', 'emoticons', 'template', 'codesample'
            ],
            toolbar: 'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons',
            menu: {
                favs: { title: 'menu', items: 'code visualaid | searchreplace | emoticons' }
            },
            menubar: false,
            content_style: 'body{font-family:Helvetica,Arial,sans-serif; font-size:16px}'
        });
    </script>
    }
}
